.how {
  padding: 100px 8%;
  background: transparent;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.how-sub {
  font-size: 30px;
  font-weight: 700;
  color: #444;
  margin-bottom: 10px;
}

.how-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 70px;
}

.how-title span {
  color: #f4a300;
}

.how-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 👈 ده السر */
  align-items: center;
  gap: 60px;
}
.how-side {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.how-step {
  display: flex;
  align-items: center;
  gap: 20px;
}

.number-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
}

.step-num {
  font-size: 80px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px #cdd8ff;
  line-height: 1;
}

.number-icon {
  position: absolute;
  top:70%;     
  left: 110%;       
  transform: translate(-50%, -50%);
  width: 30px;    
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.number-icon img {
  width: 33px;
  height: 40px;
}

.step-info h3 {
  font-size: 30px;
  margin-bottom: 8px;
}

.step-info h3 span {
  color: #f4a300;
}

.step-info p {
  font-size:15px;
  color: #666;
  line-height: 1.6;
}
.how-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-img {
  width: 320px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.road-top {
  margin-bottom: 20px;
}

.road-bottom {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .how-content {
    flex-direction: column;
    gap: 40px;
  }

  .how-side {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .how-step {
    justify-content: center;
  }
}