.navbar {
  position: absolute; 
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0px 6%;
  background: transparent; 
  z-index: 100;
  top:0;
}
.navbar-logo {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.logo-img {
  width: 40px; 
  height: auto;
  display: block;
}

.logo-text {
  color: #1a73e8;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1; 
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; 
  gap: 30px;
}

.navbar-links a {
  text-decoration: none;
  color: #444;
  font-size: 15px;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #1a73e8;
}
.active-link {
  color: #1a73e8 !important;
  font-weight: bold !important;
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.signin-text {
  text-decoration:none;
  color: #484848;
  font-weight: 500;
}
.signin-text:hover {
  color: #1a73e8;
}
.signup-btn {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
.signup-btn {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px; 
  font-weight: 600;
  cursor: pointer;
  transition:  0.3s;
}

.signup-btn:hover {
  background-color: #1557b0;
}
