.navbar {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
}

.nav-container {
  width: 90%;
  max-width: 1440px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-img {
  width: 30px;
  height: auto;
}

.logo-text {
  font-size: 24px;
  font-weight: 800;
  color: #1572D3; 
  font-family: 'Inter', sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #444444; 
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #1572D3;
}

.download-link {
  color: #1572D3 !important;
  font-weight: 700 !important;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 25px;
}

.signin-btn {
  text-decoration: none;
  color: #444444;
  font-weight: 600;
  font-size: 15px;
}

.signup-btn {
  background-color: #1572D3;
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.signup-btn:hover {
  background-color: #105bb1;
  transform: translateY(-2px);
}
